 //Tipografías

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,400&family=Roboto+Mono:wght@500;600;@700&display=swap');
 
$mainFont: 'Montserrat', sans-serif;
$titleFont: 'Roboto Mono', sans-serif;

//Font Size
$fontSize: 18px;

//Font Size Variables
$textLg:2rem;
$textMd:1.5rem;
$textSm:1.2rem;

//Weights Fonts
$textLight:300;
$textRegular:400;
$textSemiBold:500;
$textBold:600;
$textBlack:700;


//Line Height
$lineHeight:1.7;
